@model CodeWars.Shared.Class

@{
    ViewData["Title"] = "Class Details for ";
}


<h2>@ViewData["Title"] `@Html.DisplayFor(model => model.ClassName)` class</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassDescription)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
